/*$color1: #C67179;
$color2: #A1444D;
$color3: #832830;
$color4: #5E0F17;
$color5: #3A0006;*/

$fuenteDestacada: 'Antic Didone', serif;
$fuenteTitulos: 'Buda', cursive;
$fuenteEscritura: 'Raleway', sans-serif;

$color1: #F0EBD8;
$color2: #748CAB;
$color3: #3E5C76;
$color4: #1D2D44;
$color5: #0D1321;

$widthContact: 100px;
$heightContact: 120px;
$gapHoriContact: 80px;
$gapVertContact: 30px;
