-var sections = ["home","designs","webPages","apps","animations","contacts"]

-var designs = [["titulo","https://designs.ai/en","Esto es una pequeña descripción de uno de los diseños."],["titulo","https://designs.ai/en","Esto es una pequeña descripción de uno de los diseños."],["titulo","https://designs.ai/en","Esto es una pequeña descripción de uno de los diseños."]]

-var webPages = [["titulo","https://sites.google.com/new?hl=es","Esto es una pequeña descripción de una de las web pages."],["titulo","https://sites.google.com/new?hl=es","Esto es una pequeña descripción de una de las web pages."],["titulo","https://sites.google.com/new?hl=es","Esto es una pequeña descripción de una de las web pages."]]

-var apps = [["titulo","https://www.apps.co/","Esto es una pequeña descripción de una de las apps."],["titulo","https://www.apps.co/","Esto es una pequeña descripción de una de las apps."],["titulo","https://www.apps.co/","Esto es una pequeña descripción de una de las apps."]]

-var animations = [["titulo","https://animate.style/","Esto es una pequeña descripción de una de las animations."],["titulo","https://animate.style/","Esto es una pequeña descripción de una de las animations."],["titulo","https://animate.style/","Esto es una pequeña descripción de una de las animations."],]

-var contacts = [['GitHub','github','https://github.com/dico-pieu11'],['Facebook','facebook','https://www.facebook.com/profile.php?id=100005426418886'],['Instagram','instagram','https://www.instagram.com/valen_arenas_l/'],['WhatsApp','whatsapp','https://wa.link/0h2yq0']]