section.designs
    h2 Designs!!
    .proyects
        each design in designs
            +proyect(design)

section.webPages
    h2 Web Pages!!
    .proyects
        each webPage in webPages
            +proyect(webPage)

section.apps
    h2 Appss!!
    .proyects
        each app in apps
            +proyect(app)

section.animations
    h2 Animations!!
    .proyects
        each animation in animations
            +proyect(animation)