section.home
    div.name
        h1 Valentina
        h1 Arenas
        div.message
            p Se inicia con un 
                span "Hello, World!",
            p sin saber que tan lejos llegaremos.
    div.more
        h2 portfolio
        +iconDown
