section.designs
    h2 Designs!!
    .projects
        +project(designs)

section.webPages
    h2 Web Pages!!
    .projects
        +project(webPages)

section.apps
    h2 Appss!!
    .projects
        +project(apps)

section.animations
    h2 Animations!!
    .projects
        +project(animations)