include _config.pug
include _mixins.pug
<!DOCTYPE html>
html(lang="es")
    include _head.pug
    body
        include _menu.pug
        include _home.pug
        include _main.pug
        include _contact.pug
        script(src="js/script.js") 
